---
layout: default_nextstrain
categories:
 - app
---

<div class="row">
	<div class="col-md-3">
		<div class="spacer"></div>
		<div class="io-container title">
			Phylogeny
		</div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-xs-6 io-container">
				<div>
					<svg id="date-input"></svg>
				</div>
				<div>
					<h5 id="legend-title">Legend</h5>
					<svg id="legend"></svg>
				</div>
				<div class="spacer"></div>
			</div>
			<div class="col-xs-6 io-container">
				<form class="form-horizontal form-small">
					<div class="form-group">
							<label class="col-xs-5 control-label">Color by</label>
							<div class="col-xs-7 controls">
								<select id="coloring" class="form-control">
								{% for color_option in site.data.color_options %}
									{% if page.coloring contains color_option[0] %}
									<option value={{color_option[0] }}>{{ color_option[1] }}</option>
									{% endif %}
								{% endfor %}
								</select>
							</div>
					</div>
					<div class="form-group">
						<label class="col-xs-5 control-label">Or</label>
						<div class="col-xs-7 controls">
							<input id="gt-color" type="search" placeholder= "{{ page.gtplaceholder }}"  class="form-control">
							<input type="checkbox" id="branchlabels"> branch labels <br>
							<input type="checkbox" id="timetree" checked="true"> timetree
						</div>
					</div>
				</form>
				<div class="spacer"></div>

				{% for res in site.data.restrictions_ebola %}
				<form class="form-horizontal form-small">
					<div class="form-group">
						<label class="col-xs-5 control-label">{{res.label}}</label>
						<div class="col-xs-7 controls">
							<select id="{{res.id}}" class="form-control">
								{% for reg in res.fields %}
								<option value="{{ reg[0] }}">{{reg[1] }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</form>
				{% endfor %}

				<div id="search"></div>
				<div class="spacer"></div>

				<div id="straininput"></div>
				<div class="spacer"></div>
				<button id="searchinputclear" class="btn btn-default">clear</button>
				<div class="bigspacer"></div>
				<div>
					<button id="reset" class="btn btn-default">reset layout</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="treeplot-container" id="treeplot-container">
			<svg id="treeplot"></svg>
		</div>
    <div class="spacer"></div>
    <div class="entropy-container">
			<div id="entropy"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="bigspacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-9">
		<hr>
		<p>
		Built by <a href="https://neherlab.org/">Richard Neher</a> and
		<a href="http://bedford.io">Trevor Bedford</a>. Give us a shout at
		<a href="https://twitter.com/richardneher" target="_blank">@richardneher</a> or
		<a href="https://twitter.com/trvrb" target="_blank">@trvrb</a> with questions or comments.
		All <a href="http://github.com/blab/nextflu" target="_blank">source code</a> is freely available under the terms
		of the <a href="http://github.com/blab/nextflu/blob/master/LICENSE.txt" target="_blank">GNU Affero General
		Public License</a>. Data <span id="updated"></span><span id="commit"></span>.
		{% for entry in site.data.viruses_nextstrain %}
			{% if page.virus == entry.virus %}
      <!--
			The raw sequence alignment is <a href="/data/{{ entry.alignment }}">available in FASTA format</a> and
			the raw tree is <a href="/data/{{ entry.newick }}">available in NEWICK format</a>.
    -->
			{% endif %}
		{% endfor %}
		</p>

		<p>
		This work is made possible by the open sharing of genetic data by research groups from all over the world. We
		gratefully acknowledge their contributions. For data reuse (particularly for publication), please contact the original authors:

		<table class="table">
			<col width="75%">
			<col width="25%">
			<tr>
				<td>European Mobile Lab (<b>EMLab</b>)</td>
				<td><a href="http://evident-project.eu/newsevents/ebov-sequences/">Carroll et al. (2015)</a></td>
			</tr>
			<tr>
				<td>the Viral Hemorrhagic Fever Consortium: Kenema Government Hospital, Broad Institute, Harvard University, Tulane University, University of Edinburgh (<b>VHFC1</b> and <b>VHFC2</b>)</td>
				<td><a href="http://dx.doi.org/10.1126/science.1259657">Gire et al. (2014)</a> and
				<a href="http://dx.doi.org/10.1016/j.cell.2015.06.007">Park et al. (2015)</a></td>
			</tr>
			<tr>
				<td>China CDC and the State Key Laboratory of Pharmaceutical Biotechnology (<b>SKLPB</b>)</td>
				<td><a href="http://dx.doi.org/10.1038/nature14490">Tong et al. (2015)</a></td>
			</tr>
			<tr>
				<td>the Centers for Disease Control and Prevention (<b>CDC</b>)</td>
				<td><a href="http://dx.doi.org/10.1016/j.cell.2015.06.007">Park et al. (2015)</a></td>
			</tr>
			<tr>
				<td>the United States Army Medical Research Institute of Infectious Diseases (<b>USAMRIID</b>)</td>
				<td><a href="http://dx.doi.org/10.3201/eid2107.150522">Kugelman et al. (2015)</a></td>
			</tr>
			<tr>
				<td>University of Cambridge/Wellcome Trust Sanger/Public Health England (<b>UoC/WT/PHE</b>)</td>
				<td><a href="http://virological.org/t/direct-deep-sequencing-in-sierra-leone-yields-73-new-ebov-genomes-from-february-may-2015/134">Goodfellow et al. (2015)</a></td>
			</tr>
			<tr>
				<td>European Mobile Lab/University of Cambridge/Wellcome Trust Sanger (<b>EMLab/UoC/WT</b>)</td>
				<td><a href="http://virological.org/t/direct-deep-sequencing-in-sierra-leone-yields-73-new-ebov-genomes-from-february-may-2015/134">Goodfellow et al. (2015)</a></td>
			</tr>
			<tr>
				<td>European Mobile Lab and the University of Birmingham (<b>EMLab-RT</b>)</td>
				<td><a href="http://www.nature.com/nature/journal/v530/n7589/abs/nature16996.html">Quick et al. (2016)</a> and
            <a href="http://cid.oxfordjournals.org/content/early/2016/10/02/cid.ciw601">Diallo et al. (2016)</a>
        </td>
			</tr>
			<tr>
				<td>Public Health England (<b>PHE</b>)</td>
				<td><a href="http://www.eurosurveillance.org/ViewArticle.aspx?ArticleId=21131">Bell et al. (2015)</a></td>
			</tr>
			<tr>
				<td>Institut Pasteur (<b>IP</b>)</td>
				<td><a href="http://www.pasteur.fr/en/ebov-sequences-guinea">Simon-Loriere et al. (2015)</a></td>
			</tr>
			<tr>
				<td>Dutch Mobile Lab (<b>DML</b>)</td>
				<td>Smits, Koopmans et al. (2015)</td>
			</tr>
			<tr>
				<td>National Institute of Allergy and Infectious Diseases (<b>NIAID</b>)</td>
				<td><a href="http://www.sciencemag.org/content/348/6230/117.abstract">Hoenen et al. (2015)</a></td>
			</tr>
			<tr>
				<td>National Institute for Infectious Diseases IRCCS, Italy (<b>INMI</b>)</td>
				<td>Capobianchi et al. (2015)</td>
			</tr>
			<tr>
				<td>Genetic Medicine and Development, University of Geneva, Switzerland (<b>CHE_UoG</b>)</td>
				<td>Kaiser et al. (2015)</td>
			</tr>
		</table>

		<p>
		Special thanks to Andrew Rambaut, Nick Loman, Matt Cotten and Paul Kellam for coordination of data sharing efforts.
    </p>

	</div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-9">
		<hr>
		<div class="center text-gray smallnote">
			&copy; 2015-2017 Trevor Bedford and Richard Neher
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="bigspacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-9">
		<div class="center">
			<a href="http://www.fredhutch.org/"><img style="display:inline;" width=80 src="/images/fred-hutch-logo-small.png"></a>
			&nbsp; &nbsp; &nbsp;
			<a href="http://www.eb.tuebingen.mpg.de/"><img style="display:inline;" width=60 src="/images/max-planck-logo-small.png"></a>
			&nbsp; &nbsp; &nbsp;
			<a href="https://www.nih.gov/"><img style="display:inline;" width=52 src="/images/nih-logo-small.png"></a>
			&nbsp; &nbsp; &nbsp;
			<a href="https://erc.europa.eu/"><img style="display:inline;" width=60 src="/images/erc-logo-small.png"></a>
			&nbsp; &nbsp; &nbsp;
      <a href="http://www.openscienceprize.org/"><img style="display:inline;" width=90 src="/images/osp-logo-small.gif"></a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="bigspacer"></div>
	</div>
</div>

{{ content }}

<script src="/js/auspice_nextstrain.js"></script>
