---
layout: default_zika
categories:
 - app
---

<div class="row">
	<div class="col-md-3">
		<div class="spacer"></div>
		<div class="io-container title">
			Phylogeny
		</div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-xs-6 io-container">
				<div>
					<svg id="date-input"></svg>
				</div>
				<div>
					<h5 id="legend-title">Legend</h5>
					<svg id="legend"></svg>
				</div>
				<div class="spacer"></div>
			</div>
			<div class="col-xs-6 io-container">
				<form class="form-horizontal form-small">
					<div class="form-group">
							<label class="col-xs-5 control-label">Color by</label>
							<div class="col-xs-7 controls">
								<select id="coloring" class="form-control">
								{% for color_option in site.data.color_options %}
									{% if page.coloring contains color_option[0] %}
									<option value={{color_option[0] }}>{{ color_option[1] }}</option>
									{% endif %}
								{% endfor %}
								</select>
							</div>
					</div>
					<div class="form-group">
						<label class="col-xs-5 control-label">Or</label>
						<div class="col-xs-7 controls">
							<input id="gt-color" type="search" placeholder= "{{ page.gtplaceholder }}"  class="form-control">
							<input type="checkbox" id="branchlabels"> branch labels <br>
							<input type="checkbox" id="timetree" checked="true"> timetree
						</div>
					</div>
				</form>
				<div class="spacer"></div>

				{% for res in site.data.restrictions_zika %}
				<form class="form-horizontal form-small">
					<div class="form-group">
						<label class="col-xs-5 control-label">{{res.label}}</label>
						<div class="col-xs-7 controls">
							<select id="{{res.id}}" class="form-control">
								{% for reg in res.fields %}
								<option value="{{ reg[0] }}">{{reg[1] }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</form>
				{% endfor %}

				<div id="search"></div>
				<div class="spacer"></div>

				<div id="straininput"></div>
				<div class="spacer"></div>
				<button id="searchinputclear" class="btn btn-default">clear</button>
				<div class="bigspacer"></div>
				<div>
					<button id="reset" class="btn btn-default">reset layout</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="treeplot-container" id="treeplot-container">
			<svg id="treeplot"></svg>
		</div>
    <div class="spacer"></div>
    <div class="entropy-container">
			<div id="entropy"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="bigspacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-9">
		<hr>
		<p>
		Built by <a href="https://neherlab.wordpress.com/">Richard Neher</a> and
		<a href="http://bedford.io">Trevor Bedford</a>. Give us a shout at
		<a href="https://twitter.com/richardneher" target="_blank">@richardneher</a> or
		<a href="https://twitter.com/trvrb" target="_blank">@trvrb</a> with questions or comments.
		All <a href="http://github.com/blab/nextflu" target="_blank">source code</a> is freely available under the terms
		of the <a href="http://github.com/blab/nextflu/blob/master/LICENSE.txt" target="_blank">GNU Affero General
		Public License</a>. Data <span id="updated"></span><span id="commit"></span>.
		{% for entry in site.data.viruses_zika %}
			{% if page.virus == entry.virus %}
      <!--
			The raw sequence alignment is <a href="/data/{{ entry.alignment }}">available in FASTA format</a> and
			the raw tree is <a href="/data/{{ entry.newick }}">available in NEWICK format</a>.
    -->
			{% endif %}
		{% endfor %}
		</p>

		<p>
		This work is made possible by the open sharing of genetic data by research groups from all over the world. We
		gratefully acknowledge their contributions. For data reuse (particularly for publication), please contact the original authors:

		<ul class="list-inline">
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KU707826">Alcantara et al</a></li>
			<li><a href="http://andersen-lab.com/travel-related-cases-florida/">Andersen et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KX673530">Atkinson et al</a></li>
			<li><a href="http://www.eurosurveillance.org/ViewArticle.aspx?ArticleId=21409">Barzon et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KX702400">Blohm et al</a></li>
			<li><a href="http://biorxiv.org/content/early/2016/03/24/045443">Bonaldo et al</a></li>
			<li><a href="http://www.thelancet.com/journals/laninf/article/PIIS1473-3099(16)00095-5/">Calvet et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KU991811">Carletti et al</a></li>
			<li><a href="http://genomea.asm.org/content/4/2/e00032-16.abstract">Cunha et al</a></li>
			<li><a href="http://dx.doi.org/10.1007/s11427-016-5043-4">Deng et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KU922923">Diaz-Quinonez et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KX197192">Donald et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KU870645">Driggers et al</a></li>
			<li><a href="http://www.thelancet.com/journals/lancet/article/PIIS0140-6736(16)00003-9/abstract">Enfissi et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KU321639">Esposito et al</a></li>
			<li><a href="http://science.sciencemag.org/content/early/2016/03/23/science.aaf5036">Faria et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KX842449">Grubaugh et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KU820897">Kneubehl et al</a></li>
			<li><a href="http://wwwnc.cdc.gov/eid/article/22/5/16-0065_article">Lanciotti et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KU509998">Lednicky et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KX056898">Li et al</a></li>
			<li><a href="https://github.com/zibraproject/zibraproject.github.io/blob/master/data/consensus/ECU_ZIBRA.fasta">Marquez et al</a></li>
			<li><a href="http://www.nejm.org/doi/full/10.1056/NEJMoa1600651">Mlakar et al</a></li>
			<li><a href="http://biorxiv.org/content/early/2016/04/24/049916">Naccache et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KX813683">Ng et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KX447512">Nougairede et al</a></li>
			<li><a href="http://www.sciencedirect.com/science/article/pii/S2052297516000305">Piorkowski et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KX806557">Pyke et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KU940228">Sardi et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KX087101">Shabman et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KU937936">Stalin Raj et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KU740184">Tong et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KU761564">Wu et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KU820899">Zhang et al</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/nuccore/KX185891">Zhao et al</a></li>
		</ul>

    <p>
		We also thank the <a href="http://zibraproject.github.io/">ZiBRA project</a> for championing real-time data sharing and genomic surveillance:
		<div class="center">
			<a href="http://zibraproject.github.io/"><img style="display:inline;" width=400 src="/images/zibra-logo-small.png"></a>
		</div>
		<br>
		</p>

    <p>
    <i>A disclaimer from the ZiBRA team</i>: "Please note that this data is still based on work in progress and should be considered preliminary. If you intend to include any of these data in publications, please let us know – otherwise please feel free to download and use without restrictions. We have shared this data with the hope that people will download and use it, as well as scrutinize it so we can improve our methods and analyses. Please contact us if you have any questions or comments. For ZiBRA sequence data email us at n.j.loman<span style="display:none">obfuscate</span>@bham.ac.uk."
    </p>

		<p>
		Special thanks to Charlton Callender, Nick Loman, Nuno Faria, Kristian Andersen, Andrew Rambaut and Karl Erlandson for comments and suggestions.
		</p>

	</div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-9">
		<hr>
		<div class="center text-gray smallnote">
			&copy; 2015-2016 Trevor Bedford and Richard Neher
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="bigspacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-9">
		<div class="center">
			<a href="http://www.fredhutch.org/"><img style="display:inline;" width=125 src="/images/fred-hutch-logo-small.png"></a>
			&nbsp; &nbsp; &nbsp;
			<a href="http://www.eb.tuebingen.mpg.de/"><img style="display:inline;" width=60 src="/images/max-planck-logo-small.png"></a>
			&nbsp; &nbsp; &nbsp;
			<a href="https://www.nih.gov/"><img style="display:inline;" width=52 src="/images/nih-logo-small.png"></a>
			&nbsp; &nbsp; &nbsp;
			<a href="https://erc.europa.eu/"><img style="display:inline;" width=60 src="/images/erc-logo-small.png"></a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="bigspacer"></div>
	</div>
</div>

{{ content }}

<script src="/js/auspice_zika.js"></script>
