<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="/css/autocomplete.css"/>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/auspice.css"/>
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/c3.css">

		<script src="//use.typekit.net/nzp8tsk.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
	</head>

	<body>

		<div class="container">

		{{ content }}

    	</div>

	</body>

</html>
