---
layout: default
---

<div class="row">
	<div class="col-md-3">
		<div class="logo-container">
			<div class="mediumtitle">
				Real-time analysis of MERS-CoV evolution
			</div>
		</div>
		<div class="bigspacer"></div>		
		<div class="row">
			<div class="col-xs-6 io-container">
				<div>
					<svg id="date-input"></svg>
				</div>
				<div>
					<h5 id="legend-title">Legend</h5>
					<svg id="legend"></svg>
				</div>
				<div class="spacer"></div>
			</div>
			<div class="col-xs-6 io-container">			
				<form class="form-horizontal form-small">
					<div class="form-group">
							<label class="col-xs-4 control-label">Color by</label>
							<div class="col-xs-8 controls">
								<select id="coloring" class="form-control">
								{% for color_option in site.data.color_options %}
									{% if page.coloring contains color_option[0] %}
									<option value={{color_option[0] }}>{{ color_option[1] }}</option>
									{% endif %}
								{% endfor %}														
								<option value="--">--</option>
								</select>
							</div>
					</div>
					<div class="form-group">
						<label class="col-xs-4 control-label">Or</label>
						<div class="col-xs-8 controls">
							<input id="gt-color" type="search" placeholder= "{{ page.gtplaceholder }}"  class="form-control">
						</div>
					</div>		
				</form>
				<div class="spacer"></div>
				<div class="spacer"></div>
				<div>
					<h5 id="Restrictions">Data subsets</h5>
				</div>
				<div class="spacer"></div>				
				{% for res in site.data.restrictions %}
				<form class="form-horizontal form-small">
					<div class="form-group">
						<label class="col-xs-4 control-label">{{res.label}}</label>
						<div class="col-xs-8 controls">
							<select id="{{res.id}}" class="form-control">
								{% for reg in res.fields %}
								<option value="{{ reg[0] }}">{{reg[1] }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</form>
				{% endfor %}
				<div id="search"></div>
				<div class="spacer"></div>
				<div>
					<button id="reset" class="btn btn-default">reset layout</button>
				</div>
				<div class="spacer"></div>
			</div>					
		</div>
	</div>
	<div class="col-md-9">
		<div class="bigspacer"></div>
		<div class="treeplot-container">
			<svg id="treeplot"></svg>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="bigspacer"></div>
		<div class="bigspacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="io-container title">
			Variable positions
		</div>	
		<div class="spacer"></div>
		<div class="row">			
			<div class="col-xs-6 io-container">	
				<form class="form-horizontal form-small">
					<div class="form-group">
						<div class="col-xs-12">
							<input id="gtspec" type="search" class="form-control" value="{{ page.freqdefault }}" style="display: none;">
						</div>
					</div>
				</form>	
			</div>
		</div>
		<div class="spacer"></div>
		Mouse over variable positions to color by nucleotide at this site.
		<div class="spacer"></div>
	</div>
	<div class="col-md-9">
		<div class="entropy-container">		
			<div id="entropy"></div>
		</div>
		<div class="freqplot-container" style="display: none;">		
			<div id="gtchart"></div>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col-md-12">
		<div class="bigspacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="io-container title">
			Feature explanation
		</div>	
	</div>
	<div class="col-md-9">
		<h4>Phylogenetic tree</h4>
		<p> Use the <a href="/help/#date_slider"><b>date slider</b></a> to highlight viruses within the specified time interval. Both ends of the slider can be manipulated with the mouse. 
		<p> Use the <a href="/help/#epitope_mutations"><b>drop down menu</b></a> to color viruses 
		<span class="highlight"><a href="/help/#geo">geographic region</a></span>, 
		<span class="highlight"><a href="/help/#geo">host</a></span>,  
		<span class="highlight">sampling date</span>, or 
		<span class="highlight"><a href="/help/#lbi">local branching index</a></span>.
		<p> Use the <a href="/help/#genotype"><b>input box</b></a> to specify positions to color viruses by the nucleotide at a specific position. Equivalently, click on a bar in variability graph.
		<p> <a href="/help/#mouse_tip"><b>Mouse over</b></a> a tip to show virus name, location and features.
		<p> <a href="/help/#mouse_branch"><b>Mouse over</b></a> a branch to display the mutations associated with the branch. 
	</div>	
</div>

<div class="row">
	<div class="col-md-12">
		<div class="bigspacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="io-container title">
			Rationale and details
		</div>	
		<div class="spacer"></div>	
	</div>
	<div class="col-md-9">
		<p>The <b>local branching index</b> is the exponentially weighted tree length surrounding 
		a node, which is associated with <a href="http://elifesciences.org/content/3/e03568"> 
		rapid branching and expansion of clades</a>. A more detailed explanation is available 
		<a href="https://neherlab.wordpress.com/2014/11/11/now-out-in-elife-predicting-evolution/">here</a>. 
		Retrospective analysis has shown that LBI correlates with clade growth. 
		</p>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="io-container title">
			Acknowledgements
		</div>	
		<div class="spacer"></div>	
	</div>

	<div class="col-md-9">
		Acknowledgement of investigators at the following institutions for early release MERS-CoV sequences: <p></p>
		<table class="table">
			<col width="79%">
			<col width="21%">
			<tr>
				<td>College of Medicine, King Saud University, Riyadh, Kingdom of Saudi Arabia <b>(KSA/WTSI)</b></td>
				<td><a href="http://virological.org/t/new-mers-cov-sequences-feb-mar-2015-and-preliminary-analysis/140">
				Somily et al. (2015)</a></td>
			</tr>
			<tr>
				<td>Epidemiology section, Command and Control Center, Ministry of Health, Jeddah <b>(KSA/WTSI)</b></td>
				<td><a href="http://virological.org/t/new-mers-cov-sequences-feb-mar-2015-and-preliminary-analysis/140">
				Somily et al. (2015)</a></td>
			</tr>
			<tr>
				<td>King Fahad General Hospital, Jeddah <b>(KSA/WTSI)</b></td>
				<td><a href="http://virological.org/t/new-mers-cov-sequences-feb-mar-2015-and-preliminary-analysis/140">
				Somily et al. (2015)</a></td>
			</tr>
			<tr>
				<td>Wellcome Trust Sanger Institute, Hinxton, United Kingdom <b>(KSA/WTSI)</b></td>
				<td><a href="http://virological.org/t/new-mers-cov-sequences-feb-mar-2015-and-preliminary-analysis/140">
				Somily et al. (2015)</a></td>
			</tr>
			<tr>
				<td>China CDC, National Institute for Viral Disease Control and Prevention <b>(ChinaCDC)</b></td>
				<td><a href="http://www.ncbi.nlm.nih.gov/nuccore/KT006149">
				Lu et al. (2015)</a></td>
			</tr>
			<tr>
				<td>Korea National Institute of Health, Korea CDC, South Korea <b>(KNIH)</b></td>
				<td><a href="http://www.ncbi.nlm.nih.gov/nucleotide/KT029139">
				Kim et al. (2015)</a></td>
			</tr>

		</table>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-9">
		<hr>
		Built by <a href="http://bedford.io">Trevor Bedford</a> and 
		<a href="https://neherlab.wordpress.com/">Richard Neher</a>. 
		Give us a shout at <a href="https://twitter.com/trvrb" target="_blank">@trvrb</a> or 
		<a href="https://twitter.com/richardneher" target="_blank">@richardneher</a> with questions or comments. All 
		<a href="http://github.com/blab/nextflu" target="_blank">source code</a> is freely available under the terms of the 
		<a href="http://github.com/blab/nextflu/blob/master/LICENSE.txt" target="_blank">GNU Affero General Public License</a>. Data 
		updated <span id="updated"></span> and processed with commit <span id="commit"></span>.		
	</div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-9">
		<hr>		
		<div class="center text-gray smallnote">
			&copy; 2015 Trevor Bedford and Richard Neher
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="bigspacer"></div>
	</div>
</div>
<script type="text/javascript">
	var genericDomain = [0,0.111,0.222,0.333, 0.444, 0.555, 0.666, 0.777, 0.888, 1.0];
	var path = '/data/';
	var tip_labels = true;
</script>
{{ content }}
<script src="/js/auspice_mers.js"></script>
