---
layout: default
---

<div class="row">
	<div class="col-md-12">
		<div class="subtitle-container note">
			Real-time tracking of seasonal influenza <br> virus evolution in humans
		</div>
		<div class="bigspacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="mediumtitle">
			{{ page.title }}
		</div>
		<div class="smallspacer"></div>
		<div class="smalltitle">
			{{ page.date | date: "%B %-d, %Y" }}
		</div>			
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="bigspacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-9">
		<i>This is not meant as a comprehensive report, but is instead intended as particular observations that we've made that may be of relevance. Please also note that observed patterns reflect the GISAID database and may not be entirely representative of underlying dynamics.</i>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="bigspacer"></div>
	</div>
</div>

{{ content }}

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-9">
		<hr>
		<p>
		Written by <a href="http://bedford.io">Trevor Bedford</a> and 
		<a href="https://neherlab.wordpress.com/">Richard Neher</a>. This work is made possible by the 
		<a href="http://gisaid.org" target="_blank">GISAID Initiative</a> and the open sharing of genetic data by 
		influenza research groups from all over the world. <a href="/acknowledgements/">We gratefully acknowledge their 
		contributions.</a> Give us a shout at <a href="https://twitter.com/trvrb" target="_blank">@trvrb</a> or 
		<a href="https://twitter.com/richardneher" target="_blank">@richardneher</a> with questions or comments.
		</p>
		<p>
		Please cite: <a href="http://dx.doi.org/10.1093/bioinformatics/btv381">Neher RA, Bedford T. 2015. nextflu: real-time tracking of 
		seasonal influenza virus evolution in humans. Bioinformatics 10.1093/bioinformatics/btv381</a>.
		</p>
	</div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-9">
		<hr>		
		<div class="center text-gray smallnote">
			&copy; 2015 Trevor Bedford and Richard Neher
		</div>
	</div>
</div>

